.grid {
    display: grid; 
    gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
     
}

.contactcard {
    
    height: fit-content;
    width: fit-content;  
    background-color: white;
    float: right; 
    padding-top: 2em;
    padding-right: 2em; 
    
    
   
}

.emptycard {
    
    opacity: 0;
}

.page-size {
    height: 1200px; 
}