.grid {
    display: grid; 
    gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
     
}

.contactcard {
    
    height: 40%;
    width: auto; 
    z-index: 20; 
   
}

.emptycard {
    height: 100%;
    width: 100%;
    opacity: 0;
}
