html {
  font-size: 16px; 
  
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0; 
}


button {
  background-color: #800020; 
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block ;
  font-size: 16px;
  border-radius: 5%;
  width: 8em; 
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #800020;
    padding-top: 1rem; 
}


h1, h2, h3, h5, p {
    vertical-align: top;
    padding-left: 3rem; 
    padding-right: 1rem; 
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 0;
    margin-bottom: 0; 
      
}


#h3-links {
  color: black;  
}

*:not(.dots) {
    box-sizing: border-box;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 50%;
    padding: 1em 1em;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin-left: 7.8em;
      margin-right: 7.8em;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */

.about-card {
    height: fit-content; 
    margin: 2em 2em 2em 2em; 
    
 }

.arrow {
  float: left;
  width: 20%;  
  padding-right: 2em; 
}




.card {
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
    height: fit-content;
    width: 100%;
    margin: 2em 2em 2em 2em;
    overflow: hidden; 
    
  }
  
.card-image {
    width: 40%; 
    float: left; 
    padding-right: 2em;
    
    
}

.card-image1 {
    width: 45%; 
    float: left; 
    padding-right: 2em; 
    
}

.card-image2 {
    width: 64%;
    float: left;
    padding-right: 2em; 
}

.card-image3 {
    width: 45%; 
    float: left;
    padding-right: 2em; 
}

.card-image4 {
    width: 25%; 
    min-width: 135px; 
    float: left;
    padding-right: 2em; 
}

.card-image5 {
  width: 20%; 
  min-width: 135px; 
  float: left;
  padding-right: 2em; 
}



.card-background {
  background: #cc6633;
 
}

.card-wide {
  grid-column: span 2 / auto;
  grid-row: span 6 / auto;
  display: flex;
  flex-direction: column;
  background:  #f1f1f1;
  font-size: 16px;
  color:black;
  height: fit-content;
  width: fit-content;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin: 3em -1em 2em 2em; 
  margin-bottom: auto; 
  text-align: left;
  padding-bottom: 2em; 
  padding-right: 2em; 
  
}


.contactcard {
    
  height: fit-content;
  width: fit-content;  
  background-color: white;
  float: right; 
  padding-top: 2em;
  padding-right: 2em; 
  padding-bottom: 2em; 
  
}

.contact-main {
  background-image: url(assets/images/map-red.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-color: #999999;
}

.coursecard {
  display: flex;
  flex-direction: column;
  background:  #f1f1f1;
  font-size: 1em;
  color:black;
  height: fit-content;
  width: fit-content;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding-bottom: 2em;
  padding-right: 2em;
  margin-top: 3rem; 
  margin-left: 3rem;
  margin-bottom: auto; 
  grid-row: span 3 / auto; 
  text-align: left;

}

.coursecard-right {
  display: flex;
  flex-direction: column;
  background:  #f1f1f1;
  font-size: 16px;
  color:black;
  height: fit-content;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin-top: 3rem; 
  margin-left: 3rem;
  margin-right: 3rem; 
  margin-bottom: auto; 
  grid-row: span 3 / auto; 
  text-align: left; 
  padding-bottom: 2em; 
  padding-right: 2em;
}

.coursesImage img {
  top: 0px;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem; 

}

.course-titles {
  font-size: 16px;
  font-weight: bold; 
  
}

.course-titles-large {
  font-size: 24px;
  font-weight: bold;
}

.courses-container {
  padding: 2em; 
  display: flex; 
}



.dates {
  font-size: 13px;
  font-weight: bold;
}

.dots {
  height: 2em;
  width: 80%;
  padding-left: 3em;
  padding-bottom: 1em;
  margin-top: -2em; 
}

.emptycard {
    
  opacity: 0;
}

.empty-space {
  width: 350px;
}

.fa-instagram {
  vertical-align: text-bottom;
  width: 2em; 
  color: gray; 
}

.flex-container {
  display: flex; 
  flex-flow: row wrap;
  
}


.grey {
  color:#999999;
}

.grid {
  display: grid; 
  gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
   
}

.header img {
  position: absolute;
  height: 10em;
  width: auto;

}

.main {
  height: 100%; 
}

.menu-container:hover .stripe{
  visibility: visible; 
  margin-left: -0.5em;
}




.menu-container {
  width: 6.25em; 
  display: inline-block;
  margin: 0; 
  padding: 1em; 
  margin-inline: 0.75em; 
  
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.mobile-header img {
  height: 3em;  
  padding-top: 15px; 
}  

.mobile-course-container {
  padding-left: 2em; 
   
}

.mobile-icon {
  width: 20%; 
  min-width: 135px; 
  /* padding-left: 1em;   */
}


.nav {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-top: 3rem;
}

.nav li  {
  color: rgb(174, 163, 155);
  display: inline;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.5rem;
  margin-top: 2rem; 
  
  
}

.nav a {
  text-decoration: none;
  color:rgb(174, 163, 155);
}

.page-size {
  height: 1200px; 
}

.photo-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: auto;
  margin-right: 6rem;
}

.stripe {
 width: 6.25em;
 visibility: hidden;
 
}


.studio-card-wide {
  grid-column: span 1 / auto;
  grid-row: span 2 / auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color:black;
  height: fit-content;
  width: 80%;
  transition: all 500ms;
  overflow: hidden; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin-top: 3rem; 
  margin-left: 3rem;
  margin-bottom: 4rem; 
  text-align: left;
  
}

.studiocard-right {
  display: flex;
  flex-direction: column;
  background:  #f1f1f1;
  font-size: 16px;
  color:black; 
  height: fit-content;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin-top: 3rem; 
  margin-left: 3rem;
  margin-right: 3rem; 
  grid-row: span 2 / auto; 
  text-align: left; 
}



#about-image {
  margin-top: 2rem; 
  width: 69%; 
   
}

#aims-image {
  width: 100%; 
}

#antje-image {
  width: 75%; 
  padding-left: 8em;
}


#calendar-link {
  padding: 1em; 
}

#card-about {
    margin-top: 3em; 
    margin-right: 2em; 
    margin-bottom: 2em; 
}

#gallery-title{
  color: white; 
  padding-top: 1em; 
  margin-bottom: -1.5em; 
}

#luci-image {
    width: 75%; 
    padding-top: 2em; 
    padding-left: 2em;
}



#talks-middle-card {
  grid-column: span 2 / auto;
  grid-row: span 6 / auto;
  display: flex;
  flex-direction: column;
  background:  #ffffff;
  font-size: 16px;
  height: fit-content;
  width: fit-content;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin: 3em -1em 2em 2em; 
  margin-bottom: auto; 
  text-align: left;
  padding-bottom: 2em; 
  padding-right: 2em; 
      

}

#terms-card {
  width: 75%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3em; 
  background-color: #f1f1f1;
  padding-bottom: 2em; 
   
}



#terms-main {
  height: fit-content; 
  background-color: #666666;
  padding-bottom: 4em;

}

#tim-drawing {
  width: 100%; 
  align-items: center;
}

#top-about-card {
  margin-top: 2rem; 
}

#red {
  margin-top: -0.5em;
}


  /* Responsive columns - one column layout (vertical) on small screens */
  
  @media screen and (min-width: 488px) and (max-width: 720px ) {
    #studio-image {
      max-width: 225px;
      margin-top: 1em; 
    }

    .course-container {
      display: none; 
    }
    
    .arrow-container {
      display: none; 
    }
    
  }

  @media screen and (min-width: 700px) and (max-width: 802px){
    #tim-drawing {
      max-width: 310px; 
      margin-left: 7em; 
    }

    .course-container {
      display: none; 
    }

    .arrow-container {
      display: none; 
    }
  }
  
  @media screen and (max-width: 802px) { 
    

    html,body /*fixes extra white margin and horizontal scroll on phones */
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .arrow-container {
      display: none; 
    }

    .card-image2 {
      width: 58%; 
    }

    .mobile-arrow-container img{
      width: 25%; 
      padding-top: 1em; 
    }

    .mobile-arrow-container a{
      font-size: 80%; 
    }

    .card-wide {
      min-width: 310px; /*all cards were previously 310, changing to match home/ about columns */

    }

    .card-image5 {
      width: 40%; 
    }

    .column {
      min-width: 350px;
      flex-direction: row wrap;
      margin-bottom: -1em; 
    }

    .course-container {
      display: none; 
    }

    .coursecard {
      min-width: 310px; 
      margin-left: 2em; 
      
    }

    
    .coursecard-right{
      min-width: 310px; 
      margin-left: 2em;
      margin-bottom: 4em; 
    }

    .coursesImage {
      margin-left: -0.75em;
      margin-right: -0.75em; 
    }

    .empty-card {
      display: none; 
    }
   

    .header {
      display: none;  
    }
    
    .nav {
      display: none;
    }

    .dots {
      display: none; 
    }
    
    .large-screens {
      display: none; 
    }
    

    .mobile-space {
      font-size: 1.4rem;
    }

    .tiny-screens{
      display: none;
    }

    .row {
      margin-left: -1.3em; 
      justify-content: center;
    }

    .studio-card-wide {
      min-width: 310px; 
      margin-left: 2em;

    }

    .studio-padding {
      padding: 2em; 
    }

    .studio-title  {
      padding-left: 1em; 
      }

    #aims-image {
      min-width: 320px; 
      margin-right: -2.5em;
    }

    #about-image {
      min-width: 320px; 
      
    }


    #basics-left {
      display: none; 
    }

    #card-about {
      min-width: 310px; 
      margin-left: 2em;
      margin-bottom: 4em;
      
    }


    #coursecard-mobile {
      display: none; 
    }
    

    #materials-image {
      width: 320px; 
      object-fit: contain;

    }

    #studio-image {
      width: 320px;  
      object-fit: contain; 
       
    }

    #talks-middle-card {
      margin-top: 2em; 
       margin-bottom: -3em; 
    }

    #terms-card {
      min-width: 310px;
      margin-left: 2em;
      padding-right: 1em;
    }

    #tim-drawing {
      min-width: 310px; 
      
    }
  }

   @media screen and (min-width: 650px) and (max-width: 802px){
   .card-wide {
     margin-left: 9em;
   }

   #studio-image {
     min-width: 300px; 
     margin-top: 1em; 
   }

   }
   @media screen and (min-width: 803px) and (max-width: 1000px){
    .about-card{
      position: relative; 
      min-width: 350px;
    }

    .arrow-container {
      display: none; 
    }

    .mobile-arrow-container img{
      width: 25%; 
      padding-top: 1em; 
    }

    .mobile-arrow-container a{
      font-size: 80%; 
    }

    .card {
      max-width: 380px;
      
      margin-left: 0em; 
      
    }

    


    .card-wide {
      margin-right: -2.8em; 
      margin-left: 5em; 
    }

 

    .empty-card {
      display: none; 
    }

    .header {
      display: none;  
    }

    .large-screens {
      display: none; 
    }
    
    .small-screens {
      display: none;
    }

    .main {
      padding-bottom: 40em; 
    }
    
    .mobile-course-container {
    display: none; 
    }


    .nav {
      display: none;
    }

    .dots {
      display: none; 
    }
    

    #about-image {
      width: 100%; 
      position: absolute; 
      bottom: -23.5em;
      margin-left: -8.5em; 
    }

    #about-bottom {
      margin-left: -6.5em; 
      margin-bottom: 70em; 
    }

    #card-about {
      margin-left: 2em; 
    }

   #coursecard-mobile {
     display: none; 
   }

  

    #materials-image {
      width: 320px;
      object-fit: contain;

    }


    #studio-image {
      width: 320px;  
      object-fit: contain; 
      margin-left: 2em; 
      margin-top: 1em;
      margin-bottom: 45em; 
       
    }
  }
   
  @media screen and (min-width: 912px) and (max-width: 1026px) {
    .small-screens {
      display: none;
    }

    .large-screens {
      display: none;
    }

    .mobile-course-container {
      display: none; 
      }
      
    

    
  }

  @media screen and (min-width: 1001px) and (max-width: 1183px) {
    .card-wide {
      margin-left: 6em; 
      margin-right: -3em; 
    }

    .menu-container{
      margin-inline: 0.3em; 
    }

    #desktop-logo {
       height: 6.5em;
       margin-top: 3em;  
    }
  }

  @media screen and (min-width: 1001px) and (max-width: 1026px) {
    .about-card {
      position: relative; 
    }
    .card {
      min-height: 300px;
      margin-left: 0em; 
    }


    .card-wide {
      margin-right: -2.8em; 
    }

    .empty-card {
      height: 250px; 
    }

    .large-screens {
      display: none; 
    }
    
    .small-screens{
      display: none;
    }
    
    .main {
      padding-bottom: 40em; 
    }

    .mobile-menu {
      display: none;
    }

    .mobile-header {
      display: none; 
    }

    .mobile-course-container {
      display: none; 
      }
      
     .mobile-arrow-container {
        display: none; 
        }


    #about-image {
      width: 100%; 
      position: absolute; 
      bottom: -22.5em;
      right: -2em; 
      
    }

  

    #materials-image {
      width: 320px;
      object-fit: contain;

    }


    #studio-image {
      width: 320px;  
      object-fit: contain; 
      margin-left: 2em; 
      margin-top: 2em;
      margin-bottom: 30em; 
       
    }
  }
  @media screen and (min-width: 1026px) and (max-width: 1999px){
    .about-card {
      position: relative; 
    }

    .card {
      min-height: 300px;
      margin: inherit; /*solves ipad in landscape and ipadPro layout */
    }

    .empty-card {
      display: none;
    }

    .main {
      padding-bottom: 40em; 
    }

    .mobile-menu {
      display:none; 
    }

    .mobile-header {
      display: none; 
    }

    .mobile-course-container {
      display: none; 
      }

    .mobile-arrow-container {
        display: none; 
      }
    
    .tiny-screens {
      display: none;
    }

    .large-screens {
      display: none;
    }
    
    #about-image {
      width: 100%; 
      position: absolute; 
      bottom: -22.5em;
      right: -2em; 
      
    }

    #about-bottom {
      margin-bottom: 70em;
    }

    #card-about {
      margin-bottom: 250px; 
      min-width: 320px;
    }



    #materials-image {
      width: 450px; /*previously 320px */
      object-fit: contain;

    }

    #studio-image {
      width: 380px; 
      object-fit: contain;
      margin-top: 1em; 
      margin-left: 2em;
      margin-bottom: 40em; 
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1598px){ 
    .about-card {
      position: relative; 

    }

    .card {
      min-height: 300px;
    }

    .card-image2 {
      width: 60%; 
    }
    .empty-card {
      display: none;
    }

    .main {
      padding-bottom: 40em; 
    }

    .mobile-menu {
      display:none; 
    }

    .mobile-header {
      display: none; 
    }

    .mobile-course-container {
      display: none; 
      }
    
     .mobile-arrow-container {
            display: none; 
          }

    .tiny-screens {
      display: none; 
    }

    .large-screens {
      display: none;
    }
    
    #about-image {
      width: 75%; 
      position: absolute; 
      bottom: -19em;
      /* right: -4em;  */
      
    }

    #about-bottom {
      margin-bottom: 70em;
    }

    #card-about {
      margin-bottom: 250px; 
      min-width: 320px;
    }

    

    #materials-image {
      width: 400px;
      object-fit: contain;

    }

    #studio-image {
      width: 380px; 
      object-fit: contain;
      margin-top: 1em; 
      margin-left: 10em;
      margin-bottom: 40em; 
    }
  }

  @media screen and (min-width: 1465px) and (max-width: 1598px) {
    .card-image1 {
      width: 42%; 
    }

    .tiny-screens {
      display: none; 
    }

    .large-screens {
      display: none;
    }

    .mobile-course-container {
      display: none; 
      }
    
    .mobile-arrow-container {
        display: none; 
      }
      
  }

  @media screen and (min-width: 1600px) and (max-width: 1899px) {
    .about-card {
      position: relative; 
    }
    
    .card {
      min-height: 450px;
    }
    .card2 {
        margin-top: -2em;  
    }
    .dots {
        max-width: 1000px;
    }

    .main {
      padding-bottom: 40em; 
    }

    .mobile-course-container {
      display: none; 
      }
    
    .mobile-arrow-container {
        display: none; 
      }
  

    .tiny-screens {
      display: none; 
    }

    .large-screens {
      display: none;
    }
    
    #about-image {
      width: 80%; 
      position: absolute; 
      bottom: -28.2em;
      /* right: -4em;  */
      
    }

    #about-bottom {
      margin-bottom: 70em;
    }

    #studio-card {
      margin-bottom: 50em;
      margin-left: 20em;
    }
  
  }
  @media screen and (min-width: 1900px) {
    .about-card {
      max-width: 800px;
      margin-bottom: -2em; 
      position: relative; 
    }

    .card  {
      
      max-width: 800px;
       
    }
    
    .card2 {
        margin-top: -2em;  
    }


    .card-wide {
      margin-bottom: 70em;
      margin-left: 2rem; /*previously -2em */
      width: 95%; 
    }

   
    .coursecard {
      width: 80%; /*previously 500px*/
    }

    .column {
      padding-left: 9em; 
    }
    
    .dots {
      max-width: 1000px; 
    }

    .main {
      padding-bottom: 30em; 
    }

    .mobile-header {
      display: none;
    }

    .mobile-menu {
      display: none; 
    }

    .mobile-course-container {
      display: none; 
      }

   .mobile-arrow-container {
        display: none; 
      }
      
    
    .small-screens {
      display: none; 
    }

    .tiny-screens {
      display: none; 
    }

    #about-image {
      max-height: 450px;  
      margin-right: 3em; 
      margin-bottom: -8em; 
      position: absolute;
      bottom: -20em;
      right: -3.2em; 
    } 

    #about-bottom {
      margin-bottom: 70em;
    }

    

   

    #materials-image {
      width: 650px;
      object-fit: contain;
      
    } 
    #talks-middle-card {
      margin-bottom: 35rem; 
      margin-left: 9em; 
      width: 80%; 
    }

    #top-about-card {
      padding-bottom: 12.5em; 
    }

    #studio-card {
      margin-left: 25em;  /* previously commented out */
      margin-bottom: 40em; 
    }
    #studio-image {
      width: 100%;
      object-fit: contain; 
      margin-bottom: 30em; 
      margin-top: 1em; 
    }
  }

/* Hamburger menu styling */
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.menu-toggle {
  display: flex;
  padding: .75em 15px; 
  line-height: 1em;
  font-size: 1.5em;
  color: #666666;
  text-decoration: none; 
}

.menu-toggle:hover {
  color:rgb(15, 15, 15);
}

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: fit-content;
  
  /* overflow-y: scroll; */
  /* overflow-x: visible; */
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999; 
}

.main-menu ul {
  list-style: none;
  margin: 0; 
  padding: 2.5em 0 0; 
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
  -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       box-shadow: -8px 0 8px rgba(0,0,0,.5);    
  min-height: 100%;
  width: 200px; 
  background:rgb(255, 255, 255);
}

.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #666666;
  text-decoration: none;
  
}

.main-menu a:hover,
.main-menu a:focus {
  background:rgb(255, 255, 255);
  /*text-decoration: underline;*/
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"]{
  display: block;
  left: 0; 
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25); 

}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  /*
  background: #000;
  background: rgba(0,0,0,.85);
  */
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed; 
  }
}
