html {
  font-size: 100%; /*accessibility*/
}


.flex-container {
    display: flex; 
    flex-flow: row wrap;
    
}

h2, h3 {
    color: #800020;
    padding-top: 1rem; 
}


h2, h3, p {
    vertical-align: top;
    padding-left: 3rem; 
    padding-right: 1rem; 
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0;
    margin-bottom: 0; 
    
    
    
}

.grey {
  color:#999999;
}


.coursesImage img {
    top: 0px;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem; 

}



.header img {
    position: absolute;
    height: 10em;
    width: auto;

}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.mobile-header img {
  height: 3em;
  padding-top: 15px; 
  
}



.module {
  cursor: url(assets/images/pencil-transparent.png), auto;
}

.nav {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-top: 3rem;
}

.dots {
    height: 2em;
    width: 80%;
    padding-left: 3em;
    padding-bottom: 1em;
}

.nav li  {
    color: rgb(174, 163, 155);
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 2rem; 
    margin-inline: 0.75em;
    
}

.nav a {
    text-decoration: none;
    color:rgb(174, 163, 155);
}

.fa-instagram {
    vertical-align: text-bottom;
    width: 2em; 
  }

#stripe{
    width: 10%; 
    vertical-align: text-bottom;
    display: none;
}

#stripe1 {
    width: 10%;
    vertical-align: text-bottom; 
    display: none; 
}

*:not(.dots) {
    box-sizing: border-box;
  }


  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
  }
  
  .contact-main {
    background-image: url(assets/images/map-red.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-color: #999999;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 50%;
    padding: 1em 1em;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin-left: 7.8em;
      margin-right: 7.8em;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
    height: fit-content;
    width: 100%;
    
  }
  
.card-image {
    width: 40%; 
    float: left; 
    padding-right: 2em;
    
    
}

.card-image1 {
    width: 45%; 
    float: left; 
    padding-right: 2em; 
    
}

.card-image2 {
    width: 43%;
    float: left;
    padding-right: 2em; 
}

.card-image3 {
    width: 45%; 
    float: left;
    padding-right: 2em; 
    
  
}

.card-background {
  background: #cc6633;
}

#card-about {
    margin-top: 3em; 
    margin-right: 2em; 
}

#luci-image {
    width: 75%; 
    padding-top: 2em; 
    padding-left: 2em;
}

#antje-image {
    width: 75%; 
    padding-left: 8em;
}

#about-image {
  margin-top: 2rem; 
  width: 69%; 
}

#top-about-card {
  margin-top: 2rem; 
}

#tim-drawing {
  width: 60%; 
  align-items: center;
}

#talks-middle-card {
  align-items: center;
}

.card2 {
    margin-top: -20em;
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 1000px) {
    .column {
      min-width: 300px;
      flex-direction: row wrap;
      margin-bottom: 20px;
    }
    .header {
      display: none;  
    }
    
    .nav {
      display: none;
    }

    .dots {
      display: none; 
    }
    
    .row {
      margin-left: 2em; 
      justify-content: center;
    }

    #card-about {
      margin-left: 3em; 
    }
  }

  /* @media screen and (max-width: 601px) {
    
    .header {
      display: none; 
    }
    .nav {
      display: none; 
    }
  } */
  @media screen and (min-width: 1001px) {
    .mobile-menu {
      display: none;
    }

    .mobile-header {
      display: none; 
    }
  }

  @media screen and (min-width: 1400px) {
    .card {
      min-height: 300px;
    }
    .mobile-menu {
      display:none; 
    }
  }
  @media screen and (min-width: 1600px) {
    .card {
      min-height: 450px;
    }
    .card2 {
        margin-top: -2em;  
    }
    .dots {
        max-width: 1000px;
    }
  }
  @media screen and (min-width: 1900px) {
    .card  {
      min-height: 500px;
       
    }
    .card2 {
        margin-top: -2em;  
    }
    
  }

/* Hamburger menu styling */
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.menu-toggle {
  display: flex;
  padding: .75em 15px; 
  line-height: 1em;
  font-size: 1.5em;
  color: #666666;
  text-decoration: none; 
}

.menu-toggle:hover {
  color:rgb(15, 15, 15);
}

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%; 
  /* overflow-y: scroll;*/
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999; 
}

.main-menu ul {
  list-style: none;
  margin: 0; 
  padding: 2.5em 0 0; 
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
  -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       box-shadow: -8px 0 8px rgba(0,0,0,.5);    
  min-height: 100%;
  width: 200px; 
  background:rgb(255, 255, 255);
}

.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #666666;
  text-decoration: none;
  
}

.main-menu a:hover,
.main-menu a:focus {
  background:rgb(255, 255, 255);
  /*text-decoration: underline;*/
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"]{
  display: block;
  left: 0; 
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25); 

}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  /*
  background: #000;
  background: rgba(0,0,0,.85);
  */
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed; 
  }
}

