



h3, p {
    vertical-align: top;
    padding-left: 3rem; 
    padding-right: 1rem; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
}



.coursesImage img {
    top: 0px;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem; 

}



.header img {
    position: absolute;
    height: 10em;
    width: auto;

}



.nav {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-top: 3rem;
}

.dots {
    height: 2em;
    width: 80%;
    padding-left: 3em;
    padding-bottom: 1em;
}

.nav li  {
    color: rgb(174, 163, 155);
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    padding: 10px;
    margin-top: 2rem; 
    margin-inline: 0.75em;
    
}

.nav a {
    text-decoration: none;
    color:rgb(174, 163, 155);
}

.fa-instagram {
    vertical-align: text-bottom;
    width: 2em; 
  }

#stripe{
    width: 10%; 
    vertical-align: text-bottom;
    display: none;
}
/* need to work out how to resize the stripe
a:hover:after {
    content: url(assets/images/stripe-violet-transparent.png); 
    width: 20px; 
    display: block; 
}
*/ 

/* only works on my size screen
.stripe {
    width: 10%;  
    display: flex;
    margin-left: 8.8rem;

}
*/

.container{
    display: flex;
    align-items: flex-start;
  }
  
  #outerElement{
    background-color: white;  
    /*justify-content: center;  Centers children */
    margin-left: 7.8rem;
    margin-right: 7.8rem;
    height: 65%;
  }

  #inner-lhs.container{
    width: 44%; /* What portion of the screen should the left hand side panel take up? */
     
}
  
  #inner-rhs.container{
    width: 44%; /* What portion of the screen should the right hand side panel take up? */
  }

 .column-rhs {
     width: 55%; 
     padding: 1em 0em 1em 1em;
 }

 .column-lhs{
     width: 60%; 
     padding: 1em 0em 1em 1em; 
 }
  
  #gap-vertical {
    width: 5%; /* How big in the gap in the center */
    height: 100%; 
    
    
  }

  #gap-horizontal {
      height: 5%;
      width: 100%; 
  }
  
  .column-lhs{
    width: 50%;
  }



footer {
    background-color: #cccc99;
    padding-top: 3rem; 
    text-align: center;
}



/*
#horizontalElement2 {
    display: inline;
    vertical-align: top;
    height: 500;
}

#horizontalElement {
    display: inline-block;
    vertical-align: top;
}
*/

/*
#whiteBox {
    background-color: white;
    /*display: inline-block;
    width: 38%; */
    /*height: auto;*/
    /* margin-left: 7.8rem; */
    /*margin-top: 3rem;
  } 
*/

/*
.elementImage {
    width: 20%;
    /* height: auto; 
    display: inline;
    /* margin-left: 7.8rem; 
    /* position: absolute; 
}
*/